<div class="kanban-container">
    <header class="board-header">
    <div class="brand">
        <div class="logo-box">
        <lucide-icon name="list-todo" [size]="24"></lucide-icon>
        </div>
        <h1> {{board_name}}</h1>
    </div>
    
    <div class="actions">
        <button class="theme-toggle" (click)="themeService.toggleTheme()" [title]="'Switch to ' + (themeService.theme() === 'light' ? 'dark' : 'light') + ' mode'">
            <lucide-icon [name]="themeService.theme() === 'light' ? 'moon' : 'sun'" [size]="20"></lucide-icon>
        </button>
        <button class="add-btn" (click)="openCreateModal()">
            <lucide-icon name="plus" [size]="18"></lucide-icon>
            <span>Create Task</span>
        </button>
    </div>
    </header>

    <div class="board-columns" cdkDropListGroup>
    @for (column of columns; track column.status) {
        <div class="column">
            <div class="column-header">
                <div class="title-group">
                    <div class="status-indicator" [ngClass]="column.status.toLowerCase().replace(' ', '-')"></div>
                    <h2>{{ column.name }}</h2>
                </div>
                <span class="count">{{ column.tasks.length }}</span>
            </div>

            <div cdkDropList [cdkDropListData]="column.tasks" class="task-list" (cdkDropListDropped)="drop($event, column.status)">
                @for (task of column.tasks; track task.id) {
                    <app-task-card [task]="task" cdkDrag (click)="selectTask(task)">
                    </app-task-card>
                }
                <div class="empty-state" *ngIf="column.tasks.length === 0">
                    No tasks here
                </div>
            </div>
        </div>
    }
    </div>

    @if (selectedTask) {
        <app-task-details [task]="selectedTask" (close)="selectedTask = null" (saved)="onTaskSaved()">
        </app-task-details>
    }
</div>